html, body {
    height: 100%;
}
/******

.no-magic is added to <html> when ScrollMagic is disabled, used for mobile, and with IE8 IECC detection.
.lte8 is used specifically for IE8 styles (alternate styling for no css3), in addition to more general .no-magic styles

******/

#mainform {
    //ASPX compatibility
    height: 100%;
}
#content {
    height: 100%;
    position:relative;   
    
    @media print {
        height: auto;
    }
}
.lte8 .container {
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
}

/* GLOBAL SCENE STYLES */
.scene {
    height: 100%;
    min-height: 480px;    
    width: 100%;
    overflow: hidden;
    position: relative;
      
    .lte8 & {
        min-height: 0;
        height: 800px;
    }
    @media print {
        height: auto;
        min-height: 0;
        overflow: visible;
        position: static;
    }

    .scene-background {
        z-index: -1;
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 100%;
        left:0;           
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        //used in conjunction with JS mobile detection setting height
        .mobile & {
            min-height: 100%;  
        }
        
        .no-magic & {
            position: absolute;
            top: 0;
        }        
        @media print {
            display: none;
        }
    }
    .scene-content {
        opacity: 0;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-weight: 400;
        h1,h2,h3 {
            font-weight: 400;
        }  
        position:fixed;
        width: 360px;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%,-50%));
                
        .no-magic & {
            position: absolute;
            opacity: 1;
            width: 100%;
            max-width: 360px;
            @media screen and (max-width: $tablet) {
                top: 45%;
            }
        }
        .lte8 & {
            margin: -110px 0 0 -180px;   
        }
        
        @media screen and (max-width: $phablet) {
            top: 40%;
        }
        @media print {
            position: static !important;
            width: 100%;
            opacity: 1 !important;
            margin: 2em 0;
            @include transform(translate(0,0));   
            h1, h2, h3 {
                opacity: 1 !important;
                position: static !important;
                color: #000 !important;
            }
        }
    }
    .scene-links {
        position:fixed;
        z-index: 501;
        left: 50%;
        //actual top triggered by .active-scene class. offscreen so no overlap
        top: -100%;
        @include transform(translate(0,-50%));
        opacity: 0;
        box-sizing: border-box;
        width:50%;
        padding-left: 220px;
        text-align: center;
        
        .scene-active & {
            top:50%;         
        }        
        .no-magic & {
            position: absolute;
            opacity: 1;
            top: 50%;
            @media screen and (max-width: $tablet) {
                width: auto;
                min-width: 200px;
                @include transform(translate(-50%,70px));
                padding: 0;
            }
        }      
        @media screen and (max-width: $phablet) {
            left: 50%;
            @include transform(translate(-50%,70px));
            width: auto;
            padding: 0;
        }
        @media print {
            display: none;
        }

        a {
            display: inline-block;
            background-image: url(/content/img/icon-sprite.png);
            background-repeat: no-repeat;
            background-position: left bottom;
            background-color: transparent;
            border: solid 1px #fff;            
            position:relative;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            white-space: nowrap;            
            @include transition(background-color .25s);
            margin: 22px 16px;
            width: 52px;
            height: 52px;
            border-radius: 26px;
            
            span {
                position:absolute;
                top: 58px;
                left: 50%;
                @include transform(translate(-50%,0));
                
                .lte8 & {
                    width: 80px;
                    margin-left: -40px;
                }
            }
            &.vid {
                background-position: -89px 11px;
            }
            &.story {
                background-position: -138px -36px;
            }
            &.stats {
                background-position: -190px 14px;
            }
            &:hover {
                background-color: $link-hover-bg-ie8;
                background-color: $link-hover-bg;
            }
            //RETINA
            @media (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.4) {
                background-size: 310px;
                background-image: url(/content/img/icon-sprite-retina.png);
            }
        }
    }
    &.scene-active {
        .scene-links {
            top:50%;
        }
    }
    
}
/* SCENE-SPECIFIC STYLES */
#scene-1 {
    .scene-background {
        top: 0;
        background-image: url(/content/img/panel-landing.jpg);
        z-index: -1;
        @media screen and (min-width: $desktop) {
            background-image: url(/content/img/panel-landing-lg.jpg);
        }
        @media screen and (max-width: $tablet) {
            background-image: url(/content/img/panel-landing-mob.jpg);
        }
    }
    .scene-content {
        opacity:1;
        width: 100%;        
        top: 37%;
                
        .lte8 & {
            margin: 0;
            left: 0;
        }
        .no-magic & {
            max-width: none;
        }
        @media screen and (max-width: $tablet) {
            width: 95%;
        }
        
        h1 {
            font-size: 100px;
            line-height: 1.0;
            letter-spacing: .085em; 
            color: rgba(255, 255, 255, 0.75);
            margin: 0;
            
            @media only screen and (max-width: $screen) {
                font-size: 80px;
            }
            @media only screen and (max-width: $tablet) {
                font-size: 60px;
            }
            @media only screen and (max-width: $phablet) {
                font-size: 48px;
            }
            @media only screen and (max-width: $phone) {
                font-size: 42px;
                margin-top: 80px;
            }         
            @media screen and (max-height: $sm-phone) {
                margin-top: 50px;
                margin: 50px 0 -10px;
            }
        }
        h2 {
            font-size: 14px;
            letter-spacing: .075em;
            max-width: 730px;
            line-height: 30px;
            margin: 0 auto;
            
            @media screen and (max-width: $tablet), screen and (max-height: $phone) {
                line-height: 20px;
            }
        }
    }
}
#scene-2 .scene-content, #scene-3 .scene-content, #scene-4 .scene-content {
    //print styles fail in chrome, limit to screen
    @media screen {
        h2, h3 {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            width: 360px;
            margin: 0 auto;
            @include transition(opacity .25s);

            //for revealing js text:
            opacity: 0;
            &.reveal-this {
                opacity: 1;
            }
            .no-magic & {
                opacity: 1;
                margin-bottom: 0.5em;
                position: relative;
                top: 0;
                left: 0;
                max-width: 360px;
                width: 100%;
                @include transform(translate(0,0));
                
                @media screen and (max-width: $phablet) {
                    width: 95%;
                }
            }
            .lte8 & {
                position: static;
                opacity: 1;
                margin-bottom: 1em;
            }
        }
    }
    h2 {
        font-weight: 300;
        font-size: 36px;
        line-height: 50px;
        @media only screen and (max-width: $phablet) {
            font-size: 28px;
            line-height: 44px;
        }
        @media only screen and (max-height: $phone) {
            font-size: 28px;
            line-height: 36px;
        }
    }
    h3 {
        font-size: 20px;
        line-height: 35px;
        @media screen and (max-width: $tablet), screen and (max-height: $phone) {
            font-size: 14px;
            line-height: 20px;
        }   
    }
}
#scene-2 {
    .scene-background {
        background-image: url(/content/img/panel-trauma.jpg);
        z-index: -2;
        @media screen and (min-width: $desktop) {
            background-image: url(/content/img/panel-trauma-lg.jpg);
        }
        @media screen and (max-width: $tablet) {
            background-image: url(/content/img/panel-trauma-mob.jpg);
            background-position: 40% center;    
        }
    }
}
//lazy load scene 3 and 4 bg images only after scrolling
.lazy #scene-3 {
    .scene-background {
        background-image: url(/content/img/panel-cancer.jpg);
        z-index: -3;
        @media screen and (min-width: $desktop) {
            background-image: url(/content/img/panel-cancer-lg.jpg);
        }
        @media screen and (max-width: $tablet) {
            background-image: url(/content/img/panel-cancer-mob.jpg);
            background-position: 70% center;    
        }
    }
}
.lazy #scene-4 {
    .scene-background {
        background-image: url(/content/img/panel-collaboration.jpg);
        z-index: -4;
        @media screen and (min-width: $desktop) {
            background-image: url(/content/img/panel-collaboration-lg.jpg);
        }
        @media screen and (max-width: $tablet) {
            background-image: url(/content/img/panel-collaboration-mob.jpg);
        }
    }
}

//mobile circle background
.no-magic {
    #scene-2 .scene-background, #scene-3 .scene-background, #scene-4 .scene-background {
        overflow: hidden;
        &:after {
            content: '';
            display: block;
            position: absolute;
            border: solid 2px rgba(255,255,255,.75);
            margin: 0 auto;
            background: rgba(0,0,0,.15);
            left: 50%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            width: 420px;
            height: 420px;
            border-radius: 210px;
            
            @media screen and (min-width: $phablet) {
                width: 480px;
                height: 480px;
                border-radius: 240px;
            }
        }
    }
    //extra space for social icons at bottom
    #scene-4 {
        min-height: 494px;
        @media screen and (max-height: 510px) {
            .scene-content, .scene-links {
                margin-top: -14px;
            }
            .scene-background:after {
                margin-top: -7px;
            }
        }
        @media screen and (min-width: $phablet) {
            min-height: 514px;
            .scene-content, .scene-links {
                margin-top: -24px;
            }
            .scene-background:after {
                margin-top: -17px;
            }
        }
    }
}
//static fixed position circle for small desktop.
@media screen and (max-width: $tablet), screen and (max-height: $phablet) {
   #scene-2 .scene-background {
        &:after {
            content: '';
            display: block;
            position: fixed;
            left: 50%;
            top: 50%;
            @include transform(translate(-50%,-50%));
            width: 420px;
            height: 420px;
            border-radius: 210px;
            border: solid 2px rgba(255,255,255,.75);
            margin: 0 auto;
            background: rgba(0,0,0,.15);
        }
    } 
}


//page navigation container
#page-nav {
    .lte8 & {
        position: absolute;
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }
    @media print {
        display: none;
    }
}

#navdots {
    position: fixed;
    z-index: 700;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    //SAFARI BUG:
    -webkit-transform:translate3d(0,0,0);
    
    #navdot1 {
        left: -900px;
    }
    #navdot2 {
        left: 900px;
    }
    #navdot3 {
        left: 300px;
    }
    #navdot4 {
        left: -300px;
    }
    .navdot {
        //opacity set by SM
        opacity: 0;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        margin: -20px 0 0 -20px;           
        //SAFARI BUG:
        -webkit-transform:translate3d(0,0,0);
        
        .dot-main {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            position: absolute;
            top: 15px;
            left: 15px;
            //initial bg color set to active, so ~ makes subsequent inactive
            background-color: #fff;
            @include transition(background-color .25s);
        }
        &.scene-active ~ .navdot .dot-main {
            background-color: rgba(255,255,255,.5);
        }

        .dot-outer {
            opacity: 0;
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            border: solid 2px #fff;
            position: absolute;
            top: 12px;
            left: 12px;
            @include transition(opacity .25s);           
            
            &:before {
                //big outer circle
                opacity: 0;
                content: '';
                width: 38px;
                height: 38px;
                border-radius: 19px;
                background: rgba(255,255,255,.25);           
                position: absolute;
                top: -13px;
                left: -13px;
                z-index: -2;
                @include transition(opacity .6s);
            }
            &:after {
                //middle hollow circle
                opacity: 0;
                content: '';
                width: 26px;
                height: 26px;
                position: absolute;
                border-radius: 13px;
                border: solid 6px rgba(255,255,255,.5);
                position: absolute;
                top: -7px;
                left: -7px;
                z-index: -1;
                @include transition(opacity .25s);
            }
        }
        &:hover .dot-outer, &.scene-dotactive .dot-outer {
            opacity: 1;
            &:before, &:after {
                opacity: 1;
            }
        }

    }
    //HIDE on all no-magic. mobile, IE8, etc.
    .no-magic & {
        display: none;
    }
    //HIDE on small screen
    @media screen and (max-width: $tablet), screen and (max-height: $phablet) {
        display: none;
    }
}

#navcircle {  
    position:fixed;
    z-index:100;
    top:50%;
    left:50%;
    margin: -220px 0 0 -220px;
    width: 440px;
    height: 440px;    

    #navsvg {
        width: 100%;
        height: 100%;
    }
    .navmainarc {
        stroke: #fff;
        stroke-dasharray: 660;
        stroke-dashoffset: 660;
    }
    .navsectionarcstroke, .navsectionarc {
        //fix for stroke-dasharray:330; IE bug:
        stroke-dasharray: 330, 329;
        stroke-dashoffset: 330;
        opacity: 0;
        &.scene-active {
            opacity: 1;
        }
    }
    .navsectionarc {
        stroke: #fff;
    }
    .navsectionarcstroke {
        stroke: rgba(255,255,255,.25);
    }
    //HIDE on all no-magic. mobile, IE8, etc.
    .no-magic & {
        display: none;
    }
    //HIDE on small screen
    @media screen and (max-width: $tablet), screen and (max-height: $phablet) {
        display: none;
    }
}

#content-toggle {
    opacity: 0;
    display: none;
    position:fixed;
    z-index: 700;
    //vertical and horizontal center. no IE8
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,-160px));    
    cursor: pointer;
    width: 40px;
    height: 40px;
    //override bp:
    background: transparent;
    min-width: 0;
    padding: 0;

    @include transition(opacity .25s);
    &.visible {
        display:block;
        opacity: 1;
    }
    
    span {
        text-indent: -9000px;
        display: block;
        margin: 7px auto;
        background-image: url(/content/img/icon-sprite.png);
        background-repeat: no-repeat;
        background-position: -292px 10px;
        background-color: transparent;
        border: solid 1px #fff;
        width: 28px;
        height: 28px;
        border-radius: 14px;            
        @include transition(background-color .25s);
        @include transform(rotate(270deg));
        //RETINA
        @media (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.4) {
            background-size: 310px;
            background-image: url(/content/img/icon-sprite-retina.png);
        }  
    }
    &:hover span {
        background-color: $link-hover-bg-ie8;
        background-color: $link-hover-bg;
    }
    &.toggled span {
        @include transform(rotate(90deg));
        background-position: -292px 11px;
    }
    .no-magic & {
        display: none;
    }
    @media print {
        display: none;
    }     
}

#nav-scroll {
    position:fixed;
    z-index: 400;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%,0));    
    cursor: pointer;
    width: 40px;
    height: 40px;
    //override bp:
    background: transparent;
    min-width: 0;
    padding: 0;
    @include transition(transform 1s, top 1s);   
    
    span {
        text-indent: -9000px;
        display: block;
        margin: 7px auto;
        background-image: url(/content/img/icon-sprite.png);
        background-repeat: no-repeat;
        background-position: -292px 10px;
        background-color: transparent;
        border: solid 1px #fff;
        width: 28px;
        height: 28px;
        border-radius: 14px;            
        @include transition(transform .25s, background-color .25s);       
        //RETINA
        @media (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.4) {
            background-size: 310px;
            background-image: url(/content/img/icon-sprite-retina.png);
        }           
    }
    &:hover span {
        background-color: $link-hover-bg-ie8;
        background-color: $link-hover-bg;
    }
    &.endscene span {
        @include transform(rotate(180deg) scale(1.25,1.25));
    }
    .no-magic & {
        display: none;
    }
    
    @media screen and (max-height: $tablet) {
        top: 62%;
    }
    @media screen and (max-height: $phone) {
        top: 68%;
    }
    
    &.nav-scroll-active {
        top: 50%;
        @include transform(translate(-50%,255px));     
        
        @media screen and (max-height: 700px) and (min-width: $phablet) {
            @include transform(translate(-50%, 120px));    
        }
        @media screen and (max-height: $phablet) {
            @include transform(translate(-50%, 120px));    
        }
        @media screen and (max-height: 700px) and (max-width: $phablet) {
            @include transform(translate(100px, 88px));    
        }
    }
}

/* MODAL FANCYBOX STYLES ******************** */
.modal-wrapper {
    display: none;
    
    @media print {
        display: block;
    }    
}
.modal-content {
    color: #000;
    width: 100%;
    min-height: 100%;
    
    @include flexbox;
    @include flex-direction(column);

    .lte8 & {
        max-width: 1200px;
        margin: 0 auto;
    }  
    @media print {
        height: auto;
        margin: 1em 0;
        min-height: 0;
    }

    .modal-close {
        position: absolute;
        color: #666;
    }
    
    .modal-story-content {
        display: table;
        padding: 5%;   
        
        .modal-story-heading {
            display: table-cell;
            min-width: 300px;
            
            img {
                display: block;
                margin: 1em auto;
                width: 100%;
                max-width: 360px;
                height: auto;
            }
        }
        .modal-story-text {
            display: table-cell;
            padding-left: 35px;
        }
        h3 {
            font-size: 30px;
            color: #666;
            text-transform: uppercase;
            line-height: 40px;
            margin: 0 0 1em;
        }
        p {
            font-size: 16px;
            line-height: 35px;
            color: #666;
            margin: 0 0 1em;
        }
        a {
            color: #666;
            &:hover {
                color: $link-hover-color;
            }
        }
        @media screen and (max-width: $tablet) {
            display: block;
            padding: 60px 3% 3%;
            .modal-story-heading {
                text-align: center;
                display: block;
                min-width: 0;
            }
            .modal-story-text {
                display: block;
                padding: 0;
            }   
        }
        @media print {  
            display: block;
            .modal-story-heading, .modal-story-text {
                display: block;
                padding: 0;
            }   
        }
    }
    .modal-story-img {
        @include flex(1);
        min-height: 280px;       
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        .lte8 & {
            height: 50%;
            min-height: 300px;
        }
        @media screen and (max-width: $tablet) {
            min-height: 200px;
        }
    }   
} 
.lazy #scene-2-story .modal-story-img {
    background-image: url(/content/img/story-trauma.jpg);
}
.lazy #scene-3-story .modal-story-img {
    background-image: url(/content/img/story-cancer.jpg);
}
.lazy #scene-4-story .modal-story-img {
    background-image: url(/content/img/story-collaboration.jpg);
} 
//keep in global CSS scope for video version appended to body
.modal-close {
    position: fixed;
    z-index: 9999;
    top: 2%;
    right: 2%;
  
    width: 40px;
    height: 40px;        
    margin-left: 10px;
    padding: 0 0 0 8px;
    float:left;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: transparent;

    .bars {
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        height: 30px;
    }
    .bar {
        position: absolute;
        top: 0;
        display: block;
        width: 25px;
        height: 4px;
        border-radius: 4px;
        background-color: #999 !important;
    }
    .bar-2, .bar-3 {
        top: 8px;
    }
    .bar-2,
    .bar-3 {
        transition: transform 150ms ease 150ms, background-color 300ms;
    }
    .bar-1 {
        -webkit-transform: translateY(13px);
        transform: translateY(13px);
    }
    .bar-2 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .bar-3 {
        visibility: visible;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
//    &:hover .bar {
//        background-color: #000 !important;
//    }
}
.lte9 .modal-close {
    .bar {
        display: none;
    }
    &:after {
        content: 'X';
        color: #999;
        font-size: 30px;
        font-weight: bold;
        width: 40px;
        margin: 0 0 0 -15px;
        display: block;
        text-align: center;
    }
} 