/*CSS3 transition, transform, transform-origin mixins. LC KM
    $var... allows passing multiple, such as @include transition(color: #fff, background-color #000);
*/

@mixin transition($var...) {
    -webkit-transition: $var;
    -moz-transition: $var;
    -o-transition: $var;
    transition: $var;
}

@mixin transform($var...) {
    -webkit-transform: $var;
    -moz-transform: $var;
    -o-transform: $var;
    -ms-transform: $var;
    transform: $var;
}

@mixin transform-origin($var) {
    moz-transform-origin: $var;
    -o-transform-origin: $var;
    -ms-transform-origin: $var;
	-webkit-transform-origin: $var;
    transform-origin: $var;
}